<h1>Create a New Figure:</h1>
<br>
<form method="POST" action="/figures">
    <label>Name: </label>
    <br>
    <input type="text" id="figure_name" name="figure[name]">
    <br><br>

    <label>Titles: </label>
    <br>
    <% @titles.each do |title| %>
        <input type="checkbox" id="title_<%= title.id %>" name="figure[title_ids][]" value="<%= title.id %>"><%= title.name %>
        <br>
    <% end %>
    <br>
    <label>Create a Title: </label>
    <br>
    <input type="text" name="title[name]" id="new_title">
    <br><br>

    <label>Landmarks: </label>
    <br>
    <% @landmarks.each do |landmark| %>
        <input type="checkbox" id="landmark_<%= landmark.id %>" name="figure[landmark_ids][]" value="<%= landmark.id %>"><%= landmark.name %>
        <br>
    <% end %>
    <br><br>
    <label>Create a Landmark: </label>
    <br>
    <input type="text" id="new_landmark" name="landmark[name]" >
    
    <br><br>
    <input type="submit" value="Create New Figure">
</form>